@model List<PM___PRACTICA___Mauricio_Falla.Models.Producto>
    
<h1>Listado de Productos</h1>

@foreach (var producto in Model)
{
    <p>@producto.Nombre</p>
    <p>@producto.Precio</p>
    <p>Esta en promocion: @producto.enPromocio</p>
    <img src="@producto.Foto">
}